body {

	font-family: Georgia, 'Times New Roman', Times, serif;

	font-size: 13pt;

	background-image: url('kepek/zöld.jpg');

	margin: 0px;

	padding: 0px;

}



p{

	text-align:justify;

}



hr {

	width: 60%;

	margin-left: auto;

    margin-right: auto;

}



h1, h2 {

	color: #2e3f2f;

}



h2 {

	font-size: 17px;

}



#tartalom {

	width: 850px;

	margin: 0 auto 0 auto;

	padding: 0px 10px;

	text-align: left;

	background-color: #6da86e;

}



#nev{

	font-size: 16px;

	font-style:italic;

}





.kep {

	float:right;

	border:1px solid;

	margin-left: 5px;

}



a:link, a:active, a:visited, a:hover {

	color: #008080;

}
